#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.finder-widget {
  padding-top: 25px;
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center;     /* Wyśrodkowanie w pionie */
  flex-direction: column;

  h3 {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    color: $color-white;
    font-size: 41px;
  }

  .grid{
    display: grid;
    justify-content: center;

    .style-row{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .field {
        height: 50px;
        width: 50px;
        padding: 5px;
        border: solid;
        border-color: $color-white;
      }

      .field.active {
        background-color: $color-brown;
      }

      .field.nextAction {
        background-color: $color-blue;
      }

      .field.start.active {
        background-color: green;
      }

      .field.finish{
        background-color: black;
      }
    }
  }

  .main-button {

    width: 200px;
    max-width: 100%;

    background-color: $color-brick;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  
}