$color-brown: #C24E00;
$color-white: #FFF;
$color-green: #2ECC71;
$color-black: #131313;
$color-brick: #e74c3c;

@font-face {
  font-family: SansPro-Black;
  src: url("vendor/font/SourceSansPro-Black.otf") format("opentype");
}

@font-face {
  font-family: SansPro-Bold;
  src: url("vendor/font/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: SansPro-Regular;
  src: url("vendor/font/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: SansPro-Semibold;
  src: url("vendor/font/SourceSansPro-Semibold.otf") format("opentype");
}